<div class="{{ class }}">

    <div class="card mb-3 card-custom shadow-sm">

        {# Map #}
        {% if route.mapUrl is not null %}
            <a href="/route/{{ route.id }}" class="title-link">
                <img src="/map/{{ route.mapUrl }}" alt="" class="card-img-top">
            </a>
        {% endif %}

        {% if route.isNew == true %}
            <span class="badge text-bg-success fa-pull-right small badge-custom">Ново!</span>
        {% endif %}

        {# Title #}
        <h5 class="card-header card-header-custom">
            <a href="/route/{{ route.id }}" class="title-link">{{ route.name }}</a>
        </h5>

        {# Details #}
        <div class="card-body card-body-custom">

            <div class="row stats">

                <div class="col-4">
                    <p class="text-muted small">Distance</p>
                    <span>{{ route.length }} km</span>
                </div>

                <div class="col-4">
                    <p class="text-muted small">Elev Gain</p>
                    <span>{{ route.ascent }} m</span>
                </div>

                <div class="col-4">
                    <div class="progress" role="progressbar" aria-label="Basic example"
                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                         style="height: 3px">
                        <div class="progress-bar {{ route.getDifficultyClass }}"
                             style="width: {{ route.difficulty }}0%"></div>
                    </div>
                    <p class="text-muted small">Difficulty</p>
                    <span>{{ route.difficulty }}/10</span>
                </div>

            </div>

        </div>

        {# Notes #}
        {% if route.note is not null %}
            <div class="card-body card-body-custom small">
                <p class="card-text text-secondary"><i
                            class="fa-solid fa-circle-info"></i> {{ route.note }}</p>

            </div>
        {% endif %}

        {# Buttons #}
        <div class="card-footer card-footer-custom">

            <a class="btn btn-sm btn-primary"
               href="{{ route.gpxUrl }}"
               target="_blank">
                <i class="fa-solid fa-link"></i> Open .GPX in Garmin
            </a>

            {% if route.gpxFileName is not null %}
                <a class="btn btn-sm btn-outline-dark"
                   href="/gpx/download/{{ route.id }}"
                   target="_blank">
                    <i class="fa-solid fa-circle-down"></i> .GPX
                </a>
            {% endif %}
        </div>
    </div>
</div>